AddKeysToAgent yes

Host gitlab.com
	IdentityFile /home/exu/.ssh/id_ed25519_git

Host github.com
	IdentityFile /home/exu/.ssh/id_ed25519_git

Host gitea.exu.li
	IdentityFile /home/exu/.ssh/id_ed25519_git

Host aur.archlinux.org
	IdentityFile /home/exu/.ssh/id_ed25519_git

Host git.open-circle.ch
	IdentityFile /home/exu/.ssh/id_ed25519_git
	AddressFamily inet
