[Desktop Entry]
Name=Joplin (Wayland)
Exec=env DESKTOPINTEGRATION=0 APPIMAGELAUNCHER_DISABLE=1 /usr/bin/joplin-desktop --no-sandbox --enable-features=UseOzonePlatform --ozone-platform=wayland %U
Terminal=false
Type=Application
Icon=@joplinapp-desktop
StartupWMClass=Joplin
X-AppImage-Version=2.12.19
MimeType=x-scheme-handler/joplin;
Comment=Joplin for Desktop
Categories=Office;
