---
- name: Plasma | Create file structure for themes
  ansible.builtin.file:
    path: "{{ item }}"
    state: "directory"
  loop:
    - "~/.local/share/"
    - "~/.local/share/plasma/desktoptheme/"
    - "~/.themes/"
  tags: config

- name: Plasma | Remove specific theme folders
  ansible.builtin.file:
    path: "{{ item }}"
    state: "absent"
  loop:
    - "~/.local/share/icons/"
    - "~/.local/share/plasma/desktoptheme/Sweet/"
    - "~/.themes/Sweet-Dark/"
  tags: config

- name: Plasma | Get desktop theme
  ansible.builtin.git:
    repo: https://github.com/EliverLara/Sweet-kde
    dest: "~/.local/share/plasma/desktoptheme/Sweet/"
  tags: config

- name: Plasma | Get theme
  ansible.builtin.git:
    repo: https://github.com/EliverLara/Sweet
    version: nova
    dest: "~/.themes/Sweet-Dark/"
  tags: config

- name: Plasma | Get icons
  ansible.builtin.git:
    repo: https://github.com/PapirusDevelopmentTeam/papirus-icon-theme
    dest: "~/.local/share/icons/"
  tags: config

- name: Plasma | Get SDDM theme
  ansible.builtin.get_url:
    url: "https://github.com/EliverLara/Sweet-sddm-v2/archive/refs/heads/master.zip"
    dest: "./sddm-master.zip"
    mode: "0644"
  tags: config

- name: Plasma | Copy files
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    remote_src: true
  loop:
    - src: "~/.themes/Sweet-Dark/kde/colorschemes/Sweet.colors"
      dest: "~/.local/share/color-schemes/Sweet.colors"
  tags: config

- name: Plasma | Install SDDM theme
  ansible.builtin.shell: "sddmthemeinstaller --install ./sddm-master.zip"
  become: true
  tags: config

# - name: Plasma | Remove previously set wallpapers
#   ansible.builtin.shell: |
#     kwriteconfig6 --file ~/.config/plasma-org.kde.plasma.desktop-appletsrc --group Containments --group 1 --group Wallpaper --group org.kde.image --group General --key Image --delete
#     kwriteconfig6 --file ~/.config/plasma-org.kde.plasma.desktop-appletsrc --group Containments --group 1 --group Wallpaper --group org.kde.image --group General --key FillMode --delete
#     kwriteconfig6 --file ~/.config/plasma-org.kde.plasma.desktop-appletsrc --group Containments --group 2 --group Wallpaper --group org.kde.image --group General --key Image --delete
#     kwriteconfig6 --file ~/.config/plasma-org.kde.plasma.desktop-appletsrc --group Containments --group 1 --group Wallpaper --group org.kde.image --group General --key FillMode --delete
#   tags: config

# - name: Plasma | Set desktop wallpaper
#   ansible.builtin.shell: |
#     qdbus org.kde.plasmashell /PlasmaShell org.kde.PlasmaShell.evaluateScript "
#                  desktops().forEach((d) => {
#                      d.currentConfigGroup = [
#                          'Wallpaper',
#                          'org.kde.image',
#                          'General',
#                      ]
#                      d.writeConfig('Image', '{{ background_image }}')
#                      d.reloadConfig()
#                  })
#              "
#   tags: config

# - name: Plasma | Restart Kwin
#   ansible.builtin.command: "kwin_wayland --replace"
#   tags: config
# TODO: alternative commands
# kquitapp6 plasmashell
# kstart plasmashell

- name: Plasma | Set cursor theme
  ansible.builtin.shell: "plasma-apply-cursortheme Breeze_Light"
  tags: config

- name: Plasma | Set colorscheme
  ansible.builtin.shell: "plasma-apply-colorscheme Sweet"
  tags: config

- name: Plasma | Set desktop theme
  ansible.builtin.shell: "plasma-apply-desktoptheme Sweet"
  tags: config

- name: Plasma | Set SDDM theme
  community.general.ini_file:
    path: /etc/sddm.conf.d/kde_settings.conf
    section: Theme
    option: Current
    value: "Sweet-sddm-v2-master"
    no_extra_spaces: true
    mode: "0644"
  become: true
  tags: config

- name: Plasma | Check if wallpaper exists
  ansible.builtin.stat:
    path: "{{ background_image }}"
  register: wallpaper
  tags: config

- name: Plasma | Apply wallpaper everywhere
  when: wallpaper.stat.exists
  tags: config
  block:
    - name: Plasma | Set desktop wallpaper
      ansible.builtin.command: 'plasma-apply-wallpaperimage "{{ background_image }}"'
      changed_when: true

    - name: Plasma | Set Lockscreen wallpaper
      ansible.builtin.shell: |
        kwriteconfig6 --file ~/.config/kscreenlockerrc --group Greeter --group Wallpaper --group org.kde.image --group General --key Image '{{ background_image }}'
        kwriteconfig6 --file ~/.config/kscreenlockerrc --group Greeter --group Wallpaper --group org.kde.image --group General --key PreviewImage '{{ background_image }}'
      changed_when: true

- name: Plasma | Restart plasmashell
  ansible.builtin.command: kill -9 plasmashell
  changed_when: true

- name: Plasma | Restart krunner
  ansible.builtin.command: kill krunner
  changed_when: true
